.svgDiv button {
  /* background-image: url('../../../../../../Downloads/cart.IMG.svg'); */
  background-image: url("../../../Images/cart.IMG.svg");
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: #fdd144;
  border: none;
  background-size: 21px;
  border-radius: 20px;
}

.batch {
  top: -1.4rem;
  left: -1.9rem;
  background-color: black;
  position: relative;
  color: white;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}

@media (max-width: 425px) {
  .svgDiv button {
    background-image: url("../../../Images/cart.IMG.svg");
    background-position: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: #fdd144;
    border: none;
    background-size: 54px;
    border-radius: 79px;
  }

  .batch {
    top: -2.4rem;
    left: -6.9rem;
    background-color: black;
    position: relative;
    color: white;
    border-radius: 35px;
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
  .svgDiv button {
    /* background-image: url('../../../../../../Downloads/cart.IMG.svg'); */
    background-image: url("../../../Images/cart.IMG.svg");
    background-position: center;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-color: #fdd144;
    border: none;
    background-size: 65px;
    border-radius: 100px;
  }

  .batch {
    top: -3.4rem;
    left: -5.9rem;
    background-color: black;
    position: relative;
    color: white;
    border-radius: 20px;
    width: 69px;
    height: 66px;
    font-size: 3rem;
  }
}
